# Virtual environment
.venv/

# Environment variables / secrets
.env
.env.*
!.env.example

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDEs / editors
.vscode/
.idea/

# Local cache / database
.cache.sqlite

# Python version
.python-version